<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="login-form" action="http://localhost:3000/login" method="post">
        <input type="text" size="25" name="email" value="guess" class="form-reset">
        <input type="password" size="20" name="password" value="" class="form-reset">
        <input type="submit" id="login-submit" name="login-submit" value="Iniciar Sesión">
    </form>
    <form id="login-form" action="http://localhost:3000/login" method="post">
        <input type="submit" id="login-submit" name="login-submit" value="Iniciar como invitado">
    </form>
</body>
</html>